<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="parts/common :: common" ></header>
<div class="container mt-5">
    <center>
    <div>
        <br>
        <form  method="post">
            <input type="text" name="phoneNumber" placeholder="введіть № телефону" />
            <input type="text" name="message" placeholder="введіть повідомлення" />
            <button type="submit" class="btn btn-info ml-2" >Добавити</button>
        </form>
    </div>
    </center>
</div>
</html>