<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="parts/common :: common" ></header>

<div class="container mt-5">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>товар</th>
            <th>№ тел.</th>
            <th>повідомлення</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.takeProductName()}"></td>
            <td th:text="${order.phoneNumber}">...</td>
            <td th:text="${order.message}">...</td>
            <td>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteOrder(orderId=${order.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </center>
</div>
</div>
</html>