<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="parts/common :: common" ></header>
    <br>
    <br>
    <div class="container">
        <center>
        <form action="#" method="post" enctype="multipart/form-data"
              th:action="@{/update/{id}(id=${product.id})}"
              th:object="${product}"
              >
            <label for="price">Price</label>
            <input type="file" name="file" >
            <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <!--        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>-->
            <label for="description">Deadline</label>
            <input type="text" th:field="*{description}" id="description" placeholder="Description">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            <input type="submit" value="Update product">
        </form>
        </center>
    </div>
</html>