<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="parts/common :: common" ></header>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
            <br>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:href="@{/editUser/{id}(id=${user.id})}"  class="btn btn-info ml-2">Edit</a>
                    <a th:href="@{/deleteUser(userId=${user.id})}" class="btn btn-danger ml-2">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</html>
