<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="parts/common :: common" ></header>
<div class="container mt-5">
    <center>
        <div class="container  mt-3">
            <form th:action="@{/}" th:object="${product}" method="post" enctype="multipart/form-data">
                <input  type="file" name="file">
                <br>
                <br>
                    <label for="productName" class="form-label"> <input class="form-control" type="text" th:field="*{productName}" id="productName" placeholder="назва товару"> </label>
                    <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>

                    <label for="price" class="form-label"> <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="ціна"> </label>
                    <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

                    <label for="description" class="form-label"> <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="description"> </label>
                    <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

                <button type="submit" class="btn btn-info ml-2">Добавити</button>

            </form>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th></th>
                <th>product name</th>
                <th>description</th>
                <th>price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:if="${product.filename == null }">
                    <img th:src="@{/images/no_Img.jpg}"/>
                </td>
                <td th:if="${product.filename != null }">
                    <img th:src="@{/img/{filename}(filename = ${product.filename})}">
                </td>
                <td  th:text="${product.productName}"></td>
                <td th:text="${product.description}"></td>
                <td  th:text="${product.price}"></td>
                <td>
                    <a  th:href="@{/orders/{id}(id=${product.id})}"  class="btn btn-info ml-2">Замовити</a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/edit/{id}(id=${product.id})}"  class="btn btn-info ml-2">Edit</a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteproduct(productId=${product.id})}" class="btn btn-danger ml-2">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
</html>