<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Optika</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " sec:authorize="hasAuthority('ADMIN')" href="/user" tabindex="-1" aria-disabled="true">Admin page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " sec:authorize="hasAuthority('ADMIN')" href="/orders" tabindex="-1" aria-disabled="true">Список замовлень</a>
                </li>
            </ul>

            <div class="p-3 " sec:authentication="name">
            </div>

            <div  sec:authorize="!isAuthenticated()">
                <form   th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success" type="submit" value="Вхід">
                </form>
            </div>

            <div   sec:authorize="isAuthenticated()">
                <form  th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success" type="submit" value="Вийти">
                </form>
            </div>
        </div>
    </div>
</nav>
</div>