<header th:insert="parts/common :: common" ></header>
<center>
    Login page
    <div class="container mt-3">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-info" role="alert" th:if="${param.logout}">
            You have been logged out.
        </div>
    </div>

    <div class="container mt-3">
        <form th:action="@{/login}" method="post">
            <div><label class="form-label"> <input type="text" class="form-control" placeholder="User Name" name="username"/> </label></div>
            <br>
            <div><label class="form-label"> <input type="password" class="form-control" placeholder="Password" name="password"/> </label></div>
            <br>
            <div><input class="btn btn-outline-success" type="submit" value="Війти"/></div>
        </form>
    </div>
    <br>
    <a  th:href="@{/registration}" class="btn btn-success ml-2">Реєстрація</a>
</center>