<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Optika</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">lol</a></li>
                        <li><a class="dropdown-item" href="#">kek</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">chebureke</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link " sec:authorize="hasAuthority('ADMIN')" href="/user" tabindex="-1" aria-disabled="true">Admin page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " sec:authorize="hasAuthority('ADMIN')" href="/orders" tabindex="-1" aria-disabled="true">Список замовлень</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link " sec:authentication="name" tabindex="-1" aria-disabled="true"></a>
                </li>

<!--                <li class="nav-item">-->
<!--                    <form class="nav-link" tabindex="-1" aria-disabled="true" th:action="@{/logout}" method="post">-->
<!--                        <input  th:action="@{/logout}" method="post"  class="btn btn-info" type="submit" value="login/logout"/>-->
<!--                    </form>-->
<!--                </li>-->
<!--                <li class="nav-link ">-->
<!--                    &lt;!&ndash;                <div class="p-1 bg-light border">&ndash;&gt;-->
<!--                    <form th:action="@{/logout}" method="post">-->
<!--                        <input class="btn btn-info" type="submit" value="login/logout"/>-->
<!--                    </form>-->
<!--                    &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                </li>-->

<!--                <div class="align-middle" >-->
<!--                    &lt;!&ndash;                <div class="p-1 bg-light border">&ndash;&gt;-->
<!--                    <form th:action="@{/logout}" method="post">-->
<!--                        <input class="btn btn-info" type="submit" value="login/logout"/>-->
<!--                    </form>-->
<!--                    &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                </div>-->


<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->

            </ul>
<!--            <div>-->
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->

<!--            user name-->
            <div class="p-3 " sec:authentication="name">
                The value of the "name" property of the authentication object should appear here.
            </div>


                <div  sec:authorize="!isAuthenticated()">
                    <form   th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-success" type="submit" value="Вхід">
                    </form>
                </div>

                <div   sec:authorize="isAuthenticated()">
                    <form  th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-success" type="submit" value="Вийти">
                    </form>
                </div>

<!--            /////111-->

<!--            <div class="d-grid gap-3">-->
<!--                <div class="navbar-text mr-3" sec:authentication="name">-->
<!--                    The value of the "name" property of the authentication object should appear here.-->
<!--                </div>-->
<!--            </div>-->

<!--            <form th:action="@{/logout}" method="post">-->
<!--                <input type="submit" value="login/logout"/>-->
<!--            </form>-->


<!--            login/logout-->
<!--            <div class="d-grid gap-0">-->
<!--&lt;!&ndash;                <div class="p-1 bg-light border">&ndash;&gt;-->
<!--                    <form th:action="@{/logout}" method="post">-->
<!--                        <input class="btn btn-info" type="submit" value="login/logout"/>-->
<!--                    </form>-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->

        </div>
    </div>
</nav>
</div>